@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,300;1,400&family=Lato:ital,wght@1,700;1,900&family=Montserrat:wght@400;500&display=swap');
